
.editpost-form{
  margin:100px; 
  border: 2px solid #151514; 
  border-radius: 10px;
}

.form-edit{
  padding:30px;
} 

.editpost-button{
  margin:10px; 
  font-size: 20px; 
  border-radius: 5px; 
  background-color: #151514; 
  color: #F9F9F9 ;
}
