.post-home{
  display: flex;  
  flex-flow:wrap; 
  width:100%; 
  height:auto; 
  padding-top:40px;  
  justify-content: space-evenly;

  /* height:100vh; */
} 
.post-container{ 
  display: flex;  
  flex-flow:wrap; 

}

.image-post{
  width:250px; 
  height:250px; 
  border-radius: 5px;  
  margin-bottom: 15px; 
  padding:20px;
  
} 

.image-post:hover {
  box-shadow: 5px 5px 10px #151514;
  transition: all 0.2s;
}